<%- include ('partials/header') %>


<div class="jumbotron" style="margin-top: 20px;">
    <div class="container">
        <center>
            <h1 class="display-4">Dashboard</h1>
            <hr>
            <div class='row' style='margin: 0;'>
                <h3><u>>>> Top 5 Profitable Products: </u></h3>
                <% let i = 0 %>
                <% sProducts.forEach(function(sProducts){ %>
                <% if(i < 5){ %>
                <% i=i+1; %>
                <div class='col-md-12'>
                    <div class="card" style="width: 100%; margin-bottom: 15px;">
                        <div class="card-body">
                            <h5 class="card-title">Product Name: <%= sProducts.name %></h5>
                            <h6 class="card-title">Price: <%= sProducts.price %></h6>
                            <h6 class="card-title">Profit Percentage: <%= sProducts.profitPercentage %>%</h6>
                            <h6 class="card-title">Product Type: <%= sProducts.productType %></h6>
                        </div>
                    </div>
                </div>
                <% } %>
                <% }) %>

            </div>
        </center>
    </div>
</div>



<%- include ('partials/footer') %>